<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>第三週主線任務 - 產品管理頁面</title>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  
</head>
<body>
  <div class="container my-3" id="app">
    <div class="text-right">
      <button type="button" class="btn btn-primary" @click="openModal('addNew')">+ 建立新產品</button>
    </div>
    <table class="table my-4">
      <thead>
        <tr>
          <th>順序</th>
          <th>分類</th>
          <th>產品名稱</th>
          <th>產品照片</th>
          <th>原價</th>
          <th>售價</th>
          <th>是否啟用</th>
          <th>編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) in products" :key="item.id">
          <td>{{index + 1}}</td>
          <td>{{item.category}}</td>
          <td>{{item.title}}</td>
          <td><img :src="item.imageUrl" :alt="item.title" :title="item.title" style="width: 80px;"></td>
          <td>{{item.origin_price}}</td>
          <td>{{item.price}}</td>
          <td>
            <span class="badge badge-pill badge-success" v-if="item.is_enabled">啟用</span>
            <span class="badge badge-pill badge-danger" v-else>未啟用</span>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-outline-primary" @click="openModal('edit', item)">編輯</button>
              <button type="button" class="btn btn-outline-danger" @click="openModal('delete', item)">刪除</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- 刪除 -->
    <div class="modal fade" id="delProdModel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title font-weight-bold">刪除產品</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" @click="clearTempProd">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>使否確定刪除選定的商品？</p>
            <img :src="tempProduct.imageUrl" :alt="tempProduct.title" :title="tempProduct.title" class="pr-3" style="width: 100px;"/>
            <span class="pr-3">{{ tempProduct.category }}</span>
            <span class="font-weight-bold">{{ tempProduct.title }}</span>
            <p class="text-danger">刪除後將無法恢復</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" @click="clearTempProd">取消</button>
            <button type="button" class="btn btn-danger" @click="delProd">確定刪除</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 新增、編輯 -->
    <div class="modal fade bd-example-modal-lg" id="editProdModel" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title font-weight-bold">編輯產品</h5>
            <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close" @click="clearTempProd">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row">
                <div class="col-12 col-md-12 col-lg-4">
                  <div class="form-group">
                    <label for="imageUrl">輸入圖片網址</label>
                    <input type="text" class="form-control" id="imageUrl" placeholder="請輸入圖片連結" v-model="tempProduct.imageUrl">
                  </div>                
                  <img class="img-fluid" :src="tempProduct.imageUrl" :alt="tempProduct.title" :title="tempProduct.title"/>
                </div>
                <div class="col-12 col-md-12 col-lg-8">
                  <div class="form-group">
                    <label for="title">標題</label>
                    <input type="text" class="form-control" id="title" placeholder="請輸入標題" v-model="tempProduct.title">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="category">分類</label>
                      <input type="text" class="form-control" id="category" placeholder="請輸入圖片連結" v-model="tempProduct.category">
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="unit">單位</label>
                      <input type="text" class="form-control" id="unit" placeholder="請輸入單位" v-model="tempProduct.unit">
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                      <label for="origin_price">原價</label>
                      <input type="text" class="form-control" id="origin_price" placeholder="請輸入原價" v-model="tempProduct.origin_price">
                    </div>
                    <div class="form-group col-12 col-md-6">
                      <label for="price">售價</label>
                      <input type="text" class="form-control" id="price" placeholder="請輸入售價" v-model="tempProduct.price">
                    </div>
                  </div>
                  <hr/>
                  <div class="form-group w-100">
                    <label for="description">產品描述</label>
                    <textarea name="" id="description" class="form-control" rows="3" placeholder="請輸入產品描述" v-model="tempProduct.description"></textarea>
                  </div>
                  <div class="form-group w-100">
                    <label for="content">說明內容</label>
                    <textarea name="" id="content" class="form-control" rows="3" placeholder="請輸入說明內容" v-model="tempProduct.content"></textarea>
                  </div>
                  <div class="form-group pl-4">
                    <input type="checkbox" class="form-check-input" id="is_enabled" v-model="tempProduct.is_enabled" :true-value="1" :false-value="0"> 
                    <label class="form-check-label" for="is_enabled">是否啟用</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="clearTempProd">取消</button>
            <button type="button" class="btn btn-primary" @click="updateProd">儲存</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        products: [
          {
            id: 1586934917210,
            unit: '杯',
            category: '果汁',
            title: '芒果汁',
            origin_price: 50,
            price: 100,
            description: '芒果 + 檸檬',
            content: '炎熱夏天喝什麼？ 來杯酸甜芒果汁，襯托夕陽的美',
            is_enabled: 1,
            imageUrl: 'https://images.unsplash.com/photo-1546173159-315724a31696?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80'
          },
          {
            id: 1448134151352,
            unit: '杯',
            category: '冰沙',
            title: '巧克力冰沙',
            origin_price: 150,
            price: 250,
            description: '巧克力醬 + 巧克力冰沙 + OREO',
            content: '太陽曬得皮膚火熱，卻融不去這杯冰沙帶給心中的沁涼甜蜜',
            is_enabled: 1,
            imageUrl: 'https://images.unsplash.com/photo-1572490122747-3968b75cc699?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80'
          }
        ],
        tempProduct: {
          id: "",
          unit: "",
          category: "",
          title: "",
          origin_price: "",
          price: "",
          description: "",
          content: "",
          is_enabled: 0,
          imageUrl: ""
        }
      },
      methods: {
        openModal(type, prod = ''){ // type = addNew / edit / delete
          switch(type){
            case "addNew":
              $("#editProdModel").modal('show');
              break;
            case "edit":
              this.tempProduct = Object.assign({}, prod);
              $("#editProdModel").modal('show');
              break;
            case "delete":
              this.tempProduct = Object.assign({}, prod);
              $("#delProdModel").modal('show');
              break;
          }
        },
        updateProd(){
          console.log("updateProd: ", this.tempProduct.id);
          if(this.tempProduct.id){
            this.products.forEach((prod, index) => {
              if(prod.id == this.tempProduct.id){
                this.products[index] = JSON.parse(JSON.stringify(this.tempProduct))
              }
            })
          }else{
            this.tempProduct.id = new Date().getTime();
            this.products.push(this.tempProduct);
          }
          $("#editProdModel").modal('hide');
          this.clearTempProd();
        },
        delProd(){
          console.log("delProd: ", this.tempProduct.id);
          let _id = this.tempProduct.id;
          this.products.forEach( (prod, index) => {
            if(prod.id == _id){
              this.products.splice(index, 1);
            };
          });
          $("#delProdModel").modal('hide');
          this.clearTempProd();
        },
        clearTempProd(){
          this.tempProduct = {};
        }
      }
    });
  </script>
</body>
</html>